
 ***/
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}


/*** 

====================================================================
  Global Settings
====================================================================

 ***/


:root{
  --theme-color: #3A9E1E;
  --secondary-color: #0E1D40;
  --pink-color: #FFC0CB;
  --violet-color: #7F00FF;
  --crimson-color: #DC143C;
  --orange-color: #FFA500;
  --text-color: #101A30;
  --title-color: #101A30;
  --text-font: 'Poppins', sans-serif;
  --title-font: 'Fraunces', serif;
}





body {
  font-size:16px;
  color: var(--text-color);
  line-height:28px;
  font-weight:400;
  margin-top:-2%;
  background:#ffffff;
  font-family: var(--text-font);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
}

  @media (min-width:1200px) {
  .container {
    max-width: 1200px;
    padding: 0px 15px;
  }
}

.large-container{
  max-width: 1550px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid{
  padding: 0px;
}

.auto-container{
  position:static;
  max-width:1320px;
  padding:0px 15px;
  margin:0 auto;
}

.small-container{
  max-width:680px;
  margin:0 auto;
}

.boxed_wrapper{
  position: relative;
  margin: 0 auto;
  overflow: hidden !important;
  width: 100%;
  min-width: 300px;
}


a{
  text-decoration:none;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

a:hover{
  text-decoration:none;
  outline:none;
}

input,button,select,textarea{
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 18px;
  background: transparent;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}

input{
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus{
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p{
  position: relative;
  font-family: var(--text-font);
  color: var(--text-color);
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}

h1,h2,h3,h4,h5,h6{
  position:relative;
  font-family: var(--title-font);
  font-weight: 600;
  color: #101A30;
  margin: 0px;
  transition: all 500ms ease;
}

/* Preloader */

.handle-preloader {
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  display: -ms-flexbox;
  height: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
  background: #0E1D40;
}

.preloader-close{
  position: fixed;
  z-index: 99999999;
  font-size: 14px;
  background: #fff;
  color: red;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  right: 30px;
  top: 30px;
  font-weight: 400;
}

.handle-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

.handle-preloader .animation-preloader .spinner{
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 45px auto;
  width: 150px;
}

.handle-preloader .animation-preloader .txt-loading {
  text-align: center;
  user-select: none;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  animation: letters-loading 4s infinite;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  top:0;
  position: absolute;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading{
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 15px;
  display: inline-block;
  position: relative;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.30);
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {animation-delay: 0.2s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {animation-delay: 0.4s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {animation-delay: 0.6s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {animation-delay: 0.8s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before { animation-delay: 1s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before { animation-delay: 1.2s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before { animation-delay: 1.4s;}
.handle-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.preloader .loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  color: #ffffff;
}

.handle-preloader .animation-preloader .spinner{
  border: 3px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.5); 
}

/* AnimaciÃ³n del preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .handle-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }
}
@media screen and (max-width: 500px) {
  .handle-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }
  .handle-preloader .animation-preloader .txt-loading .letters-loading {font-size: 40px; letter-spacing: 10px;}
}


.centred{
  text-align: center;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.special_fonts{
  font-family: 'Fredoka', sans-serif;
}


figure{
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
  transition-property: all;
}

.row{
  --bs-gutter-x: 30px;
}

/** button **/


.theme-btn{
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--text-font);
  color: #fff !important;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
  transition: all 500ms ease;
}

.theme-btn.shadow{
  box-shadow: 0px 20px 30px rgba(119, 174, 62, 0.25) !important;
}

.theme-btn.btn-one{
  background: var(--theme-color);
}

.theme-btn:before, .theme-btn:after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0E1D40;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-origin: center;
  transform: scale(0) rotate(0);
  z-index: -1;
}

.theme-btn:hover:before {
  border-radius: 0;
  transform: scale(1) rotate(-180deg);
}

.theme-btn:hover:after {
  border-radius: 0;
  transform: scale(1) rotate(180deg);
}

.theme-btn:after {
  background: #0E1D40;
}

.theme-btn.btn-two{
  border: 2px solid #fff;
}

.theme-btn.btn-two span{
  padding: 16px 30px;
}

.theme-btn span{
  position: relative;
  display: inline-block;
  padding: 18px 32px;
}

.theme-btn span:before{
  position: absolute;
  content: '';
  background: var(--theme-color);
  width: 30px;
  height: 30px;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  transform: scale(0,0);
  transition: all 500ms ease;
}

.theme-btn:hover span:before{
  transform: scale(1,1);
}

.theme-btn span:after{
  position: absolute;
  content: '';
  background: var(--theme-color);
  width: 30px;
  height: 30px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  transform: scale(0,0);
  transition: all 500ms ease;
}

.theme-btn:hover span:after{
  transform: scale(1,1);
}

.parallax-bg{
  position: absolute;
  left: 0px;
  top: -30%;
  width: 100%;
  height: calc(100% + 30%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/** styled-pagination */

.pagination{
  position: relative;
  display: block;
}

.pagination li{
  position: relative;
  display: inline-block;
  margin: 0px 4px;
}

.pagination li a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  text-align: center;
  color: #222;
  border-radius: 5px;
  z-index: 1;
  transition: all 500ms ease;
}

.pagination li a:hover,
.pagination li a.current{
  color: #fff;
  background: var(--theme-color);
  border-color: var(--theme-color);
}

.sec-pad{
  padding: 142px 0px 150px 0px;
}

.pagination li a i{
  font-size: 20px;
}

.mr-0{
  margin: 0px !important;
}

/** scroll-to-top **/

.scroll-to-top{
  position: fixed;
  right: 0px;
  bottom: 100px;
  transform: rotate(90deg);
  z-index: 99;
}

.scroll-to-top .visible {
  visibility: visible!important;
  opacity: 1!important;
}

.scroll-to-top .scroll-top-inner {
  opacity: 0;
  visibility: hidden;
}

.scroll-to-top .scroll-top-inner{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
  -o-transition: all cubic-bezier(.4,0,.2,1) .4s;
  transition: all cubic-bezier(.4,0,.2,1) .4s;
}

.scroll-to-top .scroll-bar {
  width: 50px;
  height: 2px;
  margin-right: 10px;
  position: relative;
}

.scroll-to-top .scroll-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f4244f;
  opacity: .3;
}

.scroll-to-top .scroll-bar .bar-inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: currentColor;
}

.scroll-to-top .scroll-bar-text{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: var(--theme-color);
  transition: all 500ms ease;
}

.scroll-to-top .scroll-bar-text:hover{
  transform: scale(1.1);
}



@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}



.sec-title{
  position: relative;
  display: block;
}

.sec-title .sub-title{
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 28px; 
  font-weight: 500;
  color: var(--theme-color);
  margin-bottom: 18px;
}

.sec-title h2{
  position: relative;
  display: block;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  margin: 0px;
}

.sec-title.light .sub-title,
.sec-title.light h2{
  color: #fff !important;
}

.sec-title p{
  margin-top: 22px;
}





/*** 

====================================================================
                        Home-Page-One
====================================================================

***/


/** main-header **/

  .main-header{
    position:relative;
    left:0px;
    top:0px;
    right: 0px;
    z-index:999;
    width:100%;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }

  .sticky-header{
    position:fixed;
    opacity:0;
    visibility:hidden;
    left:0px;
    top:0px;
    width:100%;
    z-index:0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
  }

  .fixed-header .sticky-header{
    z-index:999;
    opacity:1;
    visibility:visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  /** header-top **/

  .header-top{
    position: relative;
    width: 100%;
    background: #0E1D40;
    padding: 2rem 70px;
  }

  .header-top .top-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-top .info-list li{
    position: relative;
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 24px;
    color: #A5A4B3;
    font-weight: 500;
    padding-left: 23px;
    margin-right: 28px;
  }

  .header-top .info-list li:last-child{
    margin: 0px !important;
  }

  .header-top .info-list li a,
  .header-top .info-list li span{
    color: #fff;
  }

  .header-top .info-list li a:hover{
    text-decoration: underline;
  }

  .header-top .info-list li i{
    position: absolute;
    left: 0px;
    top: 4px;
    color: var(--theme-color);
    font-size: 16px;
  }

  .header-top .info-list li:nth-child(2) i{
    font-size: 14px;
  }

  .header-top .info-list li:last-child i{
    font-size: 20px;
    top: 2px;
  }

  .header-top .top-right{
    position: relative;
    display: flex;
    align-items: center;
  }

  .header-top .top-right .login-box{
    position: relative;
    padding-right: 30px;
    margin-right: 30px;
  }

  .header-top .top-right .login-box:before{
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 50px;
    top: -13px;
    right: 0px;
  }

  .header-top .top-right .login-box a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
  }

  .header-top .top-right .login-box a:hover{

  }

  .header-top .social-links li{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 30px;
  }

  .header-top .social-links li:last-child{
    margin: 0px !important;
  }

  .header-top .social-links li a{
    display: inline-block;
    font-size: 16px;
    color: #fff;
  }

  .header-top .social-links li a:hover{

  }

  .main-header .logo-box .logo{
    max-width: 175px;
  }

  .main-header .logo-box .logo img{
    width: 100%;
  }


/*** Search Popup ***/

.search-popup {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.80);
  -webkit-transform: translateY(101%);
  -ms-transform: translateY(101%);
  transform: translateY(101%);
  transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
}

.search-popup.popup-visible {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  opacity: 1;
}

.search-popup .popup-inner{
  width: 100%;
  background: #fff;
  height: 100%;
}

.search-popup .upper-box{
  position: relative;
  padding: 70px 70px;
  z-index: 99;
}

.search-popup .upper-box .logo-box{
  max-width: 182px;
}

.search-popup .overlay-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
}

.search-popup .close-search {
  position: relative;
  font-size: 25px;
  color: #141417;
  cursor: pointer;
  z-index: 5;
  top: 11px;
  transition: all 500ms ease;
}

.search-popup .close-search:hover {
  color: red;
}

.search-popup .search-form {
  position: relative;
  width: 100%;
  padding: 100px 0px 250px 0px;
}

.search-popup .search-form .form-group{
  position: relative;
  margin: 0px;
}

.search-popup .search-form fieldset input[type="search"] {
  position: relative;
  height: 90px;
  padding: 20px 0px;
  background: #ffffff;
  line-height: 30px;
  font-size: 20px;
  color: #808080;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-weight: 400;
  border-radius: 0px;
  padding-right: 50px;
  border-bottom: 1px solid #e5e5e5;
}

.search-popup .search-form fieldset button[type="submit"] {
  position: absolute;
  top: 30px;
  right: 0px;
  font-size: 25px;
  color: #141417;
  cursor: pointer;
  transition: all 500ms ease;
}

.search-popup .search-form fieldset input[type="search"]:focus{
  border-color: #141417;
}

.search-popup .form-control:focus{
  box-shadow: none !important;
}

.main-header .logo-box{
  position: relative;
  padding: 18px 0px;
}

.main-header .outer-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px;
  margin:-3% 0;
}

.main-header .menu-area,
.main-header .menu-right-content{
  position: relative;
  display: flex;
  align-items: center;
}

.main-header .main-menu{
  position: relative;
  padding-right: 30px;
  margin-right: 30px;
}

.main-header .main-menu:before{
  position: absolute;
  content: '';
  background: #E5E5E5;
  width: 1px;
  height: 50px;
  top: 25px;
  right: 0px;
}

.main-header .menu-right-content .support-box{
  position: relative;
  display: block;
  padding-left: 33px;
  margin-right: 30px;
}

.main-header .menu-right-content .support-box i{
  position: absolute;
  left: 0px;
  top: 2px;
  font-size: 20px;
  color: var(--theme-color);
}

.main-header .menu-right-content .support-box a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  color: #222;
  font-weight: 500;
}

.main-header .menu-right-content .support-box a:hover{
  color: var(--theme-color);
}

.main-header .menu-right-content .search-box-outer{
  margin-right: 30px;
}

.main-header .menu-right-content .search-box-outer{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 54px;
  font-size: 20px;
  color: #222;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 500ms ease;
}

.main-header .menu-right-content .search-box-outer:hover{
  color: #fff;
  background: var(--theme-color);
  border-color: var(--theme-color);
}


/** main-menu **/

.main-menu{
  float: left;
}

.main-menu .navbar-collapse{
  padding:0px;
  display:block !important;
}

.main-menu .navigation{
  margin:0px;
}

.main-menu .navigation > li{
  position:inherit;
  float:left;
  z-index:2;
  margin: 0px 12px;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-menu .navigation > li:last-child{
  margin-right:0px !important;
}

.main-menu .navigation > li:first-child{
  margin-left: 0px !important;
}

.main-menu .navigation > li > a{
  position:relative;
  display:block;
  text-align:center;
  font-size:17px;
  line-height:26px;
  padding-top: 37px;
  padding-bottom: 37px;
  font-weight:500;
  font-family: var(--text-font);
  opacity:1;
  color: #222;
  z-index:1;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.main-menu .navigation > li.dropdown > a{
  padding-right: 17px;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  
}

/* .main-menu .navigation > li.dropdown > a:before{
  position: absolute;
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  top: 37px;
  right: 0px;
  font-weight: 500;
  transition: all 500ms ease;
} */

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
  position:absolute;
  left: inherit;
  top:100%;
  width:230px;
  margin-top: 15px;
  z-index:100;
  display:none;
  background: #0E1D40;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
}

.main-menu .navigation > li > ul > li > a,
.main-menu .navigation > li > .megamenu li > a{
  position:relative;
  display:block;
  padding: 10px 25px;
  line-height:24px;
  font-weight:500;
  font-size:15px;
  text-transform:capitalize;
  font-family: var(--text-font);
  color:#fff;
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > a{
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.main-menu .navigation > li > .megamenu li > a{
  padding-left: 0px;
}

.main-menu .navigation > li > .megamenu h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
  padding-left: 35px;
}

.main-menu .navigation > li > ul > li:last-child > a,
.main-menu .navigation > li > .megamenu li:last-child > a{
  border-bottom: none;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Pro';
  content: "\f105";
  position:absolute;
  right:20px;
  top:10px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:800;
  text-align:center;
  z-index:5;  
}

.main-menu .navigation > li > ul > li > ul{
  position:absolute;
  left:100%;
  top:0%;
  margin-top: 15px;
  background: #0E1D40;
  width:230px;
  z-index:100;
  display:none;
  border-radius: 0px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li > ul > li{
  position:relative;
  width:100%;
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > ul > li > a{
  position:relative;
  display:block;
  padding:10px 25px;
  line-height:24px;
  font-weight:500;
  font-size:15px;
  text-transform:capitalize;
  font-family: var(--text-font);
  color:#fff;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:last-child > a{
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  padding-left: 35px;
}

.main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Pro';
  content: "\f105";
  position:absolute;
  right:20px;
  top:12px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:900;
  z-index:5;  
}

.main-menu .navigation > li.dropdown:hover > ul,
.main-menu .navigation > li.dropdown:hover > .megamenu{
  visibility:visible;
  opacity:1;
  margin-top: 0px;
  top: 100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  top: 0%; 
  margin-top: 0px;
}

.main-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:-32px;
  top:66px;
  width:34px;
  height:30px;
  text-align:center;
  font-size:18px;
  line-height:26px;
  color:#3b3b3b;
  cursor:pointer;
  display: none;
  z-index:5;
  transition: all 500ms ease;
}

.main-menu .navigation li.current.dropdown .dropdown-btn,
.main-menu .navigation li:hover .dropdown-btn{
  
}

.main-menu .navigation li.dropdown ul li.dropdown .dropdown-btn{
  display: none;
}

.menu-area .mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  background: var(--secondary-color);
  display: none;
  padding: 1.2rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.mobile-menu .nav-logo img{
  max-width: 160px;
}

.menu-area .mobile-nav-toggler .icon-bar{
  position: relative;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header-style-three .menu-area .mobile-nav-toggler .icon-bar{
  background: #222;
}

.menu-area .mobile-nav-toggler .icon-bar:last-child{
  margin-bottom: 0px;
}


/** megamenu-style **/

.main-menu .navigation > li.dropdown > .megamenu{
  position: absolute;
  width: 100%;
  padding: 30px 50px;
  left: 0px;
}

.main-menu .navigation li.dropdown .megamenu li h4{
  margin-bottom: 10px;
}

.sticky-header .main-menu .navigation > li > a{
  padding-top: 27px;
  padding-bottom: 27px;
}

.sticky-header .main-menu .navigation > li.dropdown > a:before{
  top: 27px;
}

.sticky-header  .main-menu:before{
  top: 15px;
}


/** mobile-menu **/

.nav-outer .mobile-nav-toggler{
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color:#3786ff;
  display: none;
}

.mobile-menu{
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right:30px;
  max-width:100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
  transition: all 900ms ease;
}

.mobile-menu .navbar-collapse{
  display:block !important; 
}

.mobile-menu .nav-logo{
  position:relative;
  padding:50px 25px;
  text-align:left;  
  padding-bottom: 100px;
}

.mobile-menu-visible{
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop{
  position: fixed;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 900ms ease;
  background-color: #000;
}

.mobile-menu-visible .mobile-menu .menu-backdrop{
  opacity: 0.70;
  visibility: visible;
  right: 100%;
  -webkit-transition: all .8s ease-out 0s;
  -o-transition: all .8s ease-out 0s
}

.mobile-menu .menu-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #141417;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 900ms ease !important;
}

.mobile-menu-visible .mobile-menu .menu-box{
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn{
  position: absolute;
  right: 25px;
  top: 10px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  -webkit-transition:all 0.9s ease;
  -moz-transition:all 0.9s ease;
  -ms-transition:all 0.9s ease;
  -o-transition:all 0.9s ease;
  transition:all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn{
  -webkit-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

.mobile-menu .close-btn:hover{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.mobile-menu .navigation{
  position: relative;
  display: block;
  width: 100%;
  float: none;
}

.mobile-menu .navigation li{
  position: relative;
  display: block;
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > ul > li:first-child{
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > a{
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li ul li > a{
  font-size: 16px;
  margin-left: 20px;
  text-transform: capitalize;
}

.mobile-menu .navigation li > a:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:0;
  border-left:5px solid #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li.current > a:before{
  height:100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:6px;
  top:6px;
  width:32px;
  height:32px;
  text-align:center;
  font-size:16px;
  line-height:32px;
  color:#ffffff;
  background:rgba(255,255,255,0.10);
  cursor:pointer;
  border-radius:2px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
  z-index:5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
  color: #ffffff;
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);  
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul,
.mobile-menu .navigation > li.dropdown > .megamenu{
  display: none;
}

.mobile-menu .social-links{
  position:relative;
  padding:0px 25px;
}

.mobile-menu .social-links li{
  position:relative;
  display:inline-block;
  margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
  position:relative;
  line-height:32px;
  font-size:16px;
  color:#ffffff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .social-links li a:hover{
  
}

div#mCSB_1_container{
  top: 0px !important;
}

.mobile-menu .contact-info {
  position: relative;
  padding: 120px 30px 20px 30px;
}

.mobile-menu .contact-info h4 {
  position: relative;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.mobile-menu .contact-info ul li {
  position: relative;
  display: block;
  font-size: 15px;
  color: rgba(255,255,255,0.80);
  margin-bottom: 3px;
}

.mobile-menu .contact-info ul li a{
  color: rgba(255,255,255,0.80);
}

.mobile-menu .contact-info ul li a:hover{
  
}

.mobile-menu .contact-info ul li:last-child{
  margin-bottom: 0px;
}

.main-header .outer-box{
  position: relative;
}

.owl-dots-none .owl-dots,
.owl-nav-none .owl-nav{
  display: none !important;
}

.owl-nav button{
  background: transparent;
}

.float-bob-y {
  animation-name: float-bob-y;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-y;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-y;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-y;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

.float-bob-x{
  animation-name: float-bob-x;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-x;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-x;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-x;
  -ms-animation-duration: 15s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-x;
  -o-animation-duration: 15s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}



/** main-footer **/

.main-footer{
  position: relative;
  background: #003121;
}

.main-footer .footer-top{
  position: relative;
  padding: 142px 0px 102px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer .footer-logo{
  max-width: 175px;
  margin-bottom: 22px;
}

.main-footer .logo-widget .text-box p{
  margin-bottom: 26px;
}

.main-footer .logo-widget .text-box p:last-child{
  margin-bottom: 0px;
}

.main-footer p,
.main-footer a{
  color: #fff;
}

.main-footer a:hover{
  color: var(--theme-color);
}

.main-footer .widget-title{
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.main-footer .widget-title h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
}

.main-footer .links-widget .links-list li{
  position: relative;
  display: block;
}

.main-footer .links-widget .links-list li a{
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
}

.main-footer .schedule-widget p{
  margin-bottom: 22px;
}

.main-footer .schedule-widget .schedule-list li{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.main-footer .contact-widget .info-list li{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  padding-left: 30px;
}

.main-footer .contact-widget .info-list li i{
  position: absolute;
  left: 0px;
  top: 4px;
  font-size: 21px;
  color: var(--theme-color);
}

.main-footer .contact-widget .info-list li a{
  display: inline-block;
  color: #fff;
}

.main-footer .contact-widget .info-list li a:hover{
  color: var(--theme-color);
}

.main-footer .contact-widget .info-list li:nth-child(2) i{
  font-size: 14px;
  top: 9px;
}

.main-footer .contact-widget .social-links li{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.main-footer .contact-widget .social-links li:last-child{
  margin: 0px !important;
}

.main-footer .contact-widget .social-links li a{
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  color: #fff !important;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 50%;
}

.main-footer .contact-widget .social-links li a:hover{
  background: var(--theme-color);
}

.footer-bottom{
  position: relative;
  width: 100%;
  padding: 35px 0px;
}

.footer-bottom .copyright p{
  font-weight: 500;
}

.main-footer .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-box .block .acc-content{
  position:relative;
  display:none;
}

.accordion-box .block .acc-content.current{
  display:block;  
}


/** header-style-two **/

.header-style-two{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.header-style-two .header-lower .main-menu .navigation > li > a{
  color: #fff;
}

.header-style-two .header-lower .main-menu{
  padding: 0px;
  margin: 0px;
}

.header-style-two .header-lower .main-menu:before{
  display: none;
}

.header-style-two .header-lower .outer-box{
  padding-right: 0px;
}

.header-style-two .header-lower .menu-right-content{
  padding: 20px 70px;
  background: var(--theme-color);
  border-radius: 50px 0px 0px 50px;
}

.header-style-two .header-lower .menu-right-content .support-box i,
.header-style-two .header-lower .menu-right-content .support-box a{
  color: #fff !important;
}

.header-style-two .header-lower .menu-right-content .support-box a:hover{
  text-decoration: underline;
}

.header-style-two .header-lower .menu-right-content .search-box-outer{
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.header-style-two .header-lower .menu-right-content .theme-btn{
  background: rgba(255, 255, 255, 0.15) !important;
}


.main-footer .about-widget .text-box p{
  margin-bottom: 26px;
}

.main-footer .about-widget .text-box p:last-child{
  margin-bottom: 0px;
}

.main-footer .footer-upper{
  position: relative;
  padding-top: 100px;
}

.main-footer .footer-upper .upper-inner{
  position: relative;
  display: flex;
  padding: 30px 60px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.main-footer .footer-upper .footer-logo{
  margin-bottom: 0px;
}

.main-footer .footer-upper .right-column{
  position: relative;
  display: flex;
  align-items: center;
}

.main-footer .footer-upper .right-column h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
  margin-right: 30px;
}

.main-footer .footer-upper .form-inner{
  position: relative;
  width: 482px;
}

.main-footer .footer-upper .form-inner .form-group{
  position: relative;
  margin: 0px;
  padding-right: 184px;
}

.main-footer .footer-upper .form-inner .form-group input[type='email']{
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 16px;
  color: #fff;
  padding: 10px 30px;
  transition: all 500ms ease;
}

.main-footer .footer-upper .form-inner .form-group input:focus{
  border-color: var(--theme-color);
}

.main-footer .footer-upper .form-inner .form-group .theme-btn{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 174px;
}


.tabs-box .tab{
  position:relative;
  display:none;
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}

.tabs-box .tab.active-tab{
  display:block;  
}

.tabs-box .tab{
  transform:scale(0.9,0.9) translateY(0px);
}

.tabs-box .tab.active-tab{
  transform:scale(1) translateY(0px);
}

.default-form .form-group{
  position: relative;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.default-form{
  position: relative;
  margin: 0px 5px;
}

.default-form .form-group:last-child{
  margin-bottom: 0px;
}

.default-form .form-group input[type='text'],
.default-form .form-group input[type='email'],
.default-form .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 16px;
  color: #101A30;
  padding: 10px 20px;
  text-align: left;
  transition: all 500ms ease;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus{
  border-color: var(--theme-color);
}

.default-form .form-group textarea{
  height: 120px;
  resize: none;
}

.nav-style-one button{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 74px;
  background: #FFFFFF;
  box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 20px;
  color: #222;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  margin: 0px 5px;
  transition: all 500ms ease;
}

.nav-style-one button:hover{
  color: #fff;
  background: var(--theme-color);
}


/** about-section **/

.about-section{
  position: relative;
  padding: 150px 0px;
}

.content_block_one .content-box{
  position: relative;
  display: block;
}

.content_block_one .content-box p{
  margin-bottom: 25px;
}

.content_block_one .content-box .theme-btn span{
  padding: 18px 40px;
}

.image_block_one .image-box{
  position: relative;
  display: block;
}

.image_block_one .image-box .image-1{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
}

.image_block_one .image-box .image-1 img{
  width: 100%;
  border-radius: 20px;
}

.image_block_one .image-box .image-1:before{
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.image_block_one .image-box .image-1:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.image_block_one .image-box .image-2{
  position: absolute;
  left: 0px;
  bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0px 20px 100px rgba(6, 49, 55, 0.2);
  border-radius: 20px;
  border: 20px solid #fff;
  overflow: hidden;
  z-index: 1;
}

.image_block_one .image-box .image-2:before,
.image_block_one .image-box .image-3:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.image_block_one .image-box .image-2:hover:before,
.image_block_one .image-box .image-3:hover:before {
  -webkit-animation: circle .95s;
  animation: circle .95s;
}


@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.image_block_one .image-box .image-2 img,
.image_block_one .image-box .image-3 img{
  width: 100%;
  border-radius: 10px;
}

.image_block_one .image-box .image-3{
  position: absolute;
  left: 0px;
  top: 140px;
  background: #FFFFFF;
  box-shadow: 0px 20px 100px rgba(6, 49, 55, 0.2);
  border-radius: 20px;
  border: 20px solid #fff;
  overflow: hidden;
  z-index: 1;
}

.image_block_one .image-box .image-shape{
  position: absolute;
  top: -74px;
  right: -73px;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.about-section .pattern-layer{
  position: absolute;
  left: -105px;
  top: -50px;
  width: 213px;
  height: 213px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 6s infinite linear;
  animation: zoom-fade 6s infinite linear;
}


/** about-style-two **/

.about-style-two{
  position: relative;
}

.image_block_three .image-box{
  position: relative;
  display: block;
  padding: 60px 100px 100px 0px;
}

.image_block_three .image-box .image-1{
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
}

.image_block_three .image-box .image-1 img{
  width: 100%;
  border-radius: 20px;
}

.image_block_three .image-box .image-1:before{
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.image_block_three .image-box .image-1:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

.image_block_three .image-box .image-2{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 20px solid #fff;
  box-shadow: 0px 20px 100px rgba(6, 49, 55, 0.2);
  overflow: hidden;
  z-index: 1;
}

.image_block_three .image-box .image-2 img{
  width: 100%;
  border-radius: 50%;
}

.image_block_three .image-box .image-2:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.image_block_three .image-box .image-2:hover:before {
  -webkit-animation: circle .95s;
  animation: circle .95s;
}

.image_block_three .image-box .video-box{
  position: absolute;
  left: -60px;
  top: 0px;
  width: 180px;
  background: var(--theme-color);
  border-radius: 20px;
  padding: 45px;
  z-index: 1;
}

.image_block_three .image-box .video-box a{
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border: 5px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 36px;
  color: #fff;
}

.image_block_three .image-box .video-box a:before,
.image_block_three .image-box .video-box a:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.image_block_three .image-box .video-box a:after{
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.image_block_three .image-box .image-shape{
  position: absolute;
  right: 52px;
  bottom: -53px;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.content_block_three .content-box{
  position: relative;
  display: block;
}

.content_block_three .content-box .experience-inner{
  position: absolute;
  top: -7px;
  right: 0px;
  width: 200px;
  border: 3px dashed var(--theme-color);
  border-radius: 20px;
  padding: 40px 30px 38px 30px;
}

.content_block_three .content-box .experience-inner h2{
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 18px;
  color: var(--theme-color);
}

.content_block_three .content-box .experience-inner h4{
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.content_block_three .content-box .theme-btn span{
  padding: 18px 40px;
}


/** about-style-three **/

.about-style-three{
  position: relative;
}

.about-style-three .image-layer{
  position: absolute;
  right: 267px;
  bottom: 0px;
}

.about-style-three .pattern-layer .pattern-1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -445px;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  border: 95px solid rgba(217, 217, 217, 0.2);
  z-index: -1;
}

.about-style-three .pattern-layer .pattern-2{
  position: absolute;
  top: -270px;
  right: 208px;
  width: 213px;
  height: 213px;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.about-style-three .pattern-layer .pattern-3{
  position: absolute;
  right: 326px;
  top: -100px;
  width: 113px;
  height: 108px;
  background-repeat: no-repeat;
}


.page-title{
  padding: 290px 0px 200px 0px;
  overflow: hidden;
}

.page-title .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-title .bg-layer:before{
  position: absolute;
  content: '';
  background: #022D1F;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.7;
}

.page-title h1{
  position: relative;
  display: block;
  font-size: 65px;
  line-height: 65px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 14px;
}

.page-title .bread-crumb li{
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 500;
  padding-right: 15px;
  margin-right: 5px;
}

.page-title .bread-crumb li:last-child{
  padding: 0px !important;
  margin: 0px !important;
}

.page-title .bread-crumb li a{
  display: inline-block;
  color: #fff;
}

.page-title .bread-crumb li a:hover{
  color: var(--theme-color);
}

.page-title .bread-crumb li:before{
  position: absolute;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  top: 0px;
  right: 0px;
}

.page-title .bread-crumb li:last-child:before{
  display: none;
}

.page-title .pattern-layer .pattern-1{
  position: absolute;
  left: 157px;
  bottom: -70px;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.page-title .pattern-layer .pattern-2{
  position: absolute;
  top: 45px;
  right: 160px;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.page-title .pattern-layer .pattern-3 {
  position: absolute;
  left: 70px;
  bottom: 80px;
  width: 113px;
  height: 108px;
  background-repeat: no-repeat;
}

.page-title .pattern-layer .pattern-4 {
  position: absolute;
  right: 70px;
  top: 165px;
  width: 115px;
  height: 115px;
  background-repeat: no-repeat;
}


















































